/*Note on colors: #043E41 for teal; #987122 for gold; #982522 for pinkish red; go to http://paletton.com/#uid=33j0u0kkynpac-PfyswoVj5umdy*/
*{
  box-sizing: border-box;
}

/*code for h1, h2, h3*/
h1 {
  color: #043E41;
  font-size: 40px;
  font-family: "Frank Ruhl Libre", serif;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #15595C;
  font-size: 30px;
  font-family: "Hind Siliguri", sans-serif;
}

h3 {
  color: black;
  font-size: 25px;
  font-family: "Hind Siliguri", sans-serif;
}

/*code for navigation bar, the class is "navigation"*/
.ul-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BA4643;
}

.li-navigation {
  display: inline;
  float: left;
}

.a-navigation {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the navigation link color to #74A7A9 (teal) on hover */
li a {
  text-decoration: none;
  transition: border 4s ease-in 1s;
}

li a:visited {
  color: #E3BF75;
}

li a:hover {
  background-color: #74A7A9;
  text-decoration: none;
}

/*code for links in general; this code will also apply to nav links*/
/* selected links */
a {
  text-decoration: none;
  transition: border 4s ease-in 1s;
}

a:active {
  color: blue;
}

a:visited {
  color: #E3BF75;
}

a:hover {
  text-decoration: underline;
}

/* current page */
.active {
  background-color: #74A7A9;
}

/*code for unordered lists*/
ul {
  list-style-type: circle;
  font-family:  "Hind Siliguri", sans-serif;
  font-size: 15px;
}

/*code for icons*/

.fa-pen-fancy{
  color: #BA4643;
}

.fa-sticky-note {
  color: #BA4643;
}

.fa-code{
  color: #BA4643;
}

.fa-arrow-circle-right {
  color: #BA4643;
}

/*code for paragraphs*/
p {
  font-family:  "Hind Siliguri", sans-serif;
  font-size: 15px;
}

/*code for About page*/

.index-pic {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.home-photo {
  width: 100%;
  height: auto;
  padding-right: 1em;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.index-column-h3::first-letter{
  font-size: 200%;
}

/*Code for Resume */
.resume-education h4:first-child {
  background: #b6dde3;

}

.resume-experience h4:first-child {
  background: #b6dde3;

}

.resume-skills h4:first-child {
  background: #b6dde3;

}

/* Code for contact form */

/*browers often apply defaults instead of using for defaults. We need this rule to apply consistent files so forms will inherit parent element styles instead of browser default*/
button, input, select, textarea {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

form {
  background-color: #D3D3D3;
  padding: 15px 15px 15px 15px;
  margin-bottom: 15px;
  margin-right: 50%;
}

label {
  font-family: "Hind Siliguri", serif;
  display: inline;
  width: 140px;
  text-align: right;
}

input[type=text] {
  box-sizing: border-box;
  border: 3px solid #696969;
  outline: none;
}

input[type=text]:hover{
  cursor: text;
}

input[type=text]:focus {
  border: 3px solid #9CD0D2;
}

input[type=email]{
  box-sizing: border-box;
  border: 3px solid #696969;
  outline: none;
}

input[type=email]:focus {
  border: 3px solid #9CD0D2;
}

input[type=submit] {
  background-color: white;
  cursor: pointer;
  transition: border 1s ease-in 1s;
}

textarea {
  box-sizing: border-box;
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  border: 3px solid #696969;
  outline: none;
  resize: none; /*Use the resize property to prevent textareas from being resized (disable the "grabber" in the bottom right corner)*/
}

textarea:focus {
  border: 3px solid #9CD0D2;
}

/* Code for footer */
footer {
  background-color: #FFE4AE;
  padding: 10px;
}

.footer {
  font-size: 15px;
  font-family: "Hind Siliguri", sans-serif;
}

/* Code for social media icons. Flexbox has been used, it's under .footer-social */
.footer-social {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.fa-linkedin-in {
  color: black;
  font-size: 1.5em;
  padding-right: 70%;
  transition: border 4s ease-in 1s;
}

.fa-linkedin-in:hover {
  color: #74A7A9;
}

.fa-instagram {
  color: black;
  font-size: 1.5em;
  transition: border 4s ease-in 1s;
}

.fa-instagram:hover {
  color: #74A7A9;
}

/* REFERENCE

Code for flex box.
Have a <section> with <div> within it. CSS is for <section> class

.container {
  display: flex;

  flex-direction: row column row-reverse column reverse;

  flex-wrap: wrap nowrap wrap-reverse;

  justify-content: center flex-end flex-start space-around space-between space-evenly;

  align-items: center baseline stretch flex-end flex-start;

}

Code for floats
.content-box{
  float: right;
}

.clearfix::after{
      content:"";
      display: block;
      clear:both;
    }

#border-box{
      overflow: auto;
    }


Sample code for border boxes
.class{
   height: 6rem;
   background-color: pink;
   padding: 1rem;
   border-width: 3px;
   border-style: solid;
   border-color: green;
   border: 3px dashed green;
   margin-bottom: 1rem;
   margin-top: 1.5rem;
   margin: 1.5rem; 0 1rem;
 }

 Code for fonts

  .modern {font-family: Helvetica, Arial, sans-serif;
  }

  .classic {font-family: "Times New Roman", serif;
  }

  font-family: "Comic Sans MS", cursive, sans-serif;
  **Note that sometimes family names have spaces in them. In these cases, the whole name must be wrapped in double quotes.**
}
*/
